[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
	owner = group extension-ArticleFeedbackv5
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
	description = MediaWiki extension ArticleFeedbackv5
	state = active
[access "refs/heads/prototype"]
	push = group extension-ArticleFeedbackv5-omniti
	pushMerge = group extension-ArticleFeedbackv5-omniti
