[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
	owner = group extension-ArticleFeedbackv5
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
	description = ArticleFeedbackv5 (Article Feedback Tool, Version 5) extension engages readers in the assessment of article quality.
[access "refs/heads/prototype"]
	push = group extension-ArticleFeedbackv5-omniti
	pushMerge = group extension-ArticleFeedbackv5-omniti


