[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/omniti"]
	push = group extension-ArticleFeedbackv5-omniti
	pushMerge = group extension-ArticleFeedbackv5-omniti
[project]
	description = MediaWiki extension ArticleFeedbackv5
[access "refs/heads/omnitiwork/*"]
	push = group extension-ArticleFeedbackv5-omniti
	pushMerge = group extension-ArticleFeedbackv5-omniti
	create = group extension-ArticleFeedbackv5-omniti
