/** Styles for feedback links **/

#articleFeedbackv5-titlebarlink {
	float: right;
	font-size: 85%;
	font-weight: bold;
	line-height: 1.5em;
	margin: 5px 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: right;
	text-indent: 0;
	text-transform: none;
	top: 0;
	white-space: nowrap;
}

