/*----- SPECIAL PAGE ------*/

/* Utility classes */
.float-clear {
	clear: both;
	height: 0;
}
.float-clear:after {
	clear: both;
}

/** Adjustments **/
#bodyContent h2 {
	clear: both;
}
select {
	vertical-align: baseline;
	height: 1.5em;
}

/** Notices **/
#articlefeedbackv5-header-message {
	color: #444;
}
#articleFeedbackv5-beta-label {
	float: right;
	font-size: 0.5em;
	color: #444;
}

/** Header section **/
#articleFeedbackv5-header-wrap {
	margin: 0 0 10px;
}
#articleFeedbackv5-header-wrap:after {
	clear: both;
}
#articleFeedbackv5-header-links {
	float: right;
}
#articlefeedbackv5-special-central-watchlist-link {
	margin-left: 10px;
}
#articlefeedbackv5-special-central-watchlist-link:before {
	content: '•';
	margin-right: 10px;
}
#articleFeedbackv5-showing-count-wrap,
#articleFeedbackv5-special-watchlist-showing-wrap {
	display: inline-block;
	/* IE7 inline-block hack */
	zoom: 1;
	*display: inline;
	margin: 15px 50px 5px 0;
	line-height: 28px;
}
#articleFeedbackv5-showing-count-wrap {
	font-size: 1.4em;
}
#articleFeedbackv5-special-watchlist-showing-wrap {
	font-size: 1.2em;
}
#articleFeedbackv5-feedback-count-total {
	font-weight: bold;
}
#articleFeedbackv5-percent-found-wrap {
	display: inline;
	/* IE7 inline-block hack */
	zoom: 1;
	*display: inline;
	font-size: 1.4em;
	margin: 15px 0 5px 0;
	line-height: 28px;
}
#articleFeedbackv5-percent-found-wrap .stat-marker {
	font-weight: bold;
	padding: 11px 0 8px 40px;
}
#articleFeedbackv5-percent-found-wrap .positive {
	/* @embed */
	background-image: url(images/large-positive.png);
	background-repeat: no-repeat;
	background-position: left;
}
#articleFeedbackv5-percent-found-wrap .negative {
	/* @embed */
	background-image: url(images/large-negative.png);
	background-repeat: no-repeat;
	background-position: left;
}
.aftv5-feedbackpage .aftv5-feedbackpage-comment-display-header {
	height: 40px;
	/* @embed */
	background: url(images/bg-feedbackpage-header.png) repeat-x;
	padding: 0 10px;
}
#articleFeedbackv5-special-add-feedback {
	/*color:white;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	width: auto;
	height: 35px;
	line-height: 35px;
	padding: 0 9px;
	float: right;
	background: url(images/bg-submit.png) repeat-x;*/
	display: none;
}
#articleFeedbackv5-special-add-feedback:after {
	clear:both;
}

/** Filter & sort line **/
#articleFeedbackv5-sort > div, #articleFeedbackv5-sort > span, #articleFeedbackv5-sort > a,
#articleFeedbackv5-filter > div, #articleFeedbackv5-filter > span, #articleFeedbackv5-filter > a {
	display: inline-block;
	/* IE7 inline-block hack */
	zoom: 1;
	*display: inline;
	height: 2em;
	vertical-align: bottom;
}

/** Filtering **/
#articleFeedbackv5-sort-filter-controls {
	font-size: 1.1em;
	line-height: 2em;
	clear: both;
	padding: 0;
	/* @embed */
	background-image: url(images/bg-feedbackpage-header.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	overflow: hidden;
}
#articleFeedbackv5-sort-filter-controls:after {
	clear: both;
}
.articleFeedbackv5-filter-link,.articleFeedbackv5-filter-link:visited {
	padding-left: 5px;
	padding-right: 5px;
}
.articleFeedbackv5-filter-link:hover {
	/* @embed */
	background-image: url(images/bg-feedbackpage-header-on.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	text-decoration: none;
}
#articleFeedbackv5-filter {
	float: left;
}
.articleFeedbackv5-filter-label {
	margin-right: 10px;
	font-weight: bold;
}
.filter-active, .filter-active:hover, .articleFeedbackv5-filter-link.filter-active:hover {
	font-weight: bold;
	/* @embed */
	background-image: url(images/bg-feedbackpage-header-on.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
.filter-active, .filter-active:visited {
	color: #000;
}
#articleFeedbackv5-select-wrapper {
	font-weight: bold;
	margin: 0 0 0 4px;
	padding: 0 5px;
}
#articleFeedbackv5-select-wrapper:hover,
#articleFeedbackv5-select-wrapper.filter-active {
	/* @embed */
	background-image: url(images/bg-feedbackpage-header-on.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
#articleFeedbackv5-filter-select {
	margin-right: 0px;
	color: #444444;
}
.filter-active #articleFeedbackv5-filter-select {
	color: black;
	font-weight: bold;
}
.articleFeedbackv5-filter-label, .articleFeedbackv5-sort-label {
	color: #333;
}

/** Sorting **/
#articleFeedbackv5-sort {
	float: right;
}
#articleFeedbackv5-sort .articleFeedbackv5-sort-label {
	margin: 0 5px 0 0;
	font-weight: bold;
}

/** Show Feedback Results */
#articleFeedbackv5-show-feedback {
	min-height: 250px;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
}

/** List footer **/
#articleFeedbackv5-footer {
	width: 100%;
	text-align: center;
	background: #d2e5f7;
	cursor: pointer;
	line-height: 47px;
}

/** Show more **/
a#articleFeedbackv5-show-more {
	font-size: 1.2em;
}

/** Refresh list **/
#articleFeedbackv5-refresh-list {
	float: right;
	margin: 10px !important;
}

/** Back to central page **/
.articleFeedbackv5-feedback-central-goback {
	font-size: 1.2em;
	margin-top: 10px;
	clear: both;
}

/** Permalink styles **/
.articleFeedbackv5-feedback-permalink-goback {
	font-size: 1.2em;
	margin-top: 10px;
}

