#articlefeedbackv5-talk-feedback-link {
	font-size: 14px;
	/* @embed */
	background-image: url(images/feedback-post.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 20px;
	padding-left: 15px;
}
