/*----- SPECIAL PAGE ------*/

/* Utility classes */
.float-clear {
	clear: both;
	height: 0;
}
.float-clear:after {
	clear: both;
}

/** Adjustments **/
#bodyContent h2 {
	clear: both;
}
select {
	vertical-align: baseline;
	height: 1.5em;
	font-size:1.2em;
}

/** Wrapper **/
#articleFeedbackv5-special-wrap {
	min-width: 900px;
}

/** Notices **/
.articleFeedbackv5-survey-button {
	clear: right;
	float: right;
	display: block;
	width: 273px;
	height: 30px;
	margin-top: 10px;
	/* @embed */
	background: url(images/survey-button.png) no-repeat;
	text-indent: -9999px;
}
#articlefeedbackv5-beta-message {
	color: #444;
}
.articlefeedbackv5-special-disclaimer {
	font-size: 1.125em;
	color: red;
	font-weight: bold;
}

/** Header section **/
#articleFeedbackv5-header-wrap {
	margin: 0 0 10px;
}
#articleFeedbackv5-header-wrap:after {
	clear: both;
}
#articleFeedbackv5-header-links {
	float: right;
}
#articleFeedbackv5-showing-count-wrap {
	float: left;
	font-size: 1.4em;
	margin: 15px 50px 5px 0;
	padding-top: 6px;
}
#articleFeedbackv5-feedback-count-total {
	font-weight: bold;
}
#articleFeedbackv5-percent-found-wrap {
	font-size: 1.4em;
	margin: 15px 0 5px 0;
	float: left;
}
#articleFeedbackv5-percent-found-wrap .stat-marker {
	font-weight: bold;
	line-height: 32px;
	padding: 11px 0 8px 40px;
}
#articleFeedbackv5-percent-found-wrap .positive {
	/* @embed */
	background-image: url(images/large-positive.png);
	background-repeat: no-repeat;
	background-position: left;
}
#articleFeedbackv5-percent-found-wrap .negative {
	/* @embed */
	background-image: url(images/large-negative.png);
	background-repeat: no-repeat;
	background-position: left;
}
.aftv5-feedbackpage .aftv5-feedbackpage-comment-display-header {
	height: 40px;
	/* @embed */
	background: url(images/bg-feedbackpage-header.png) repeat-x;
	padding: 0 10px;
}
#articleFeedbackv5-special-add-feedback {
	/*color:white;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	width: auto;
	height: 35px;
	line-height: 35px;
	padding: 0 9px;
	float: right;
	background: url(images/bg-submit.png) repeat-x;*/
	display: none;
}
#articleFeedbackv5-special-add-feedback:after {
	clear:both;
}

/** Filtering **/
#articleFeedbackv5-sort-filter-controls {
	clear: both;
	padding: 0;
	/* @embed */
	background-image: url(images/bg-feedbackpage-header.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	overflow: hidden;
	padding-bottom: 0.15em;
}
#articleFeedbackv5-sort-filter-controls:after {
	clear: both;
}
.articleFeedbackv5-filter-link,.articleFeedbackv5-filter-link:visited {
	font-size: 1.2em;
	line-height: 2em;
	padding-left: 5px;
	padding-right: 5px;
}
.articleFeedbackv5-filter-link:hover {
	margin-bottom: -0.7em;
	/* @embed */
	background-image: url(images/bg-feedbackpage-header-on.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 0.5em;
	text-decoration: none;
}
#articleFeedbackv5-filter {
	float: left;
}
.articleFeedbackv5-filter-label {
	margin-right: 10px;
	font-weight: bold;
}
.filter-active, .filter-active:hover, .articleFeedbackv5-filter-link.filter-active:hover {
	font-weight: bold;
	padding-bottom: 0.5em;
	/* @embed */
	background-image: url(images/bg-feedbackpage-header-on.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}
.filter-active, .filter-active:visited {
	color: #000;
}
#articleFeedbackv5-select-wrapper {
	font-weight: bold;
	padding-bottom: 0.25em;
	display: inline-block;
	margin-left: 10px;
	margin-right: 5px;
}
#articleFeedbackv5-select-wrapper:hover,
#articleFeedbackv5-select-wrapper.filter-active {
	/* @embed */
	background-image: url(images/bg-feedbackpage-header-on.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	display: inline;
	padding-bottom: 0.6em;
}
#articleFeedbackv5-filter-select {
	margin-right: 0px;
	position: relative;
	top: 9px;
	left: 0;
	float: none;
	display: inline-block;
	font-size: 1.2em;
	top: 0px;
	color: #444444;
}
.filter-active #articleFeedbackv5-filter-select {
	color: black;
	font-weight: bold;
}
.articleFeedbackv5-filter-label, .articleFeedbackv5-sort-label {
	font-size: 1.2em;
	color: #333;
}

/** Sorting **/
#articleFeedbackv5-sort {
	float: right;
	padding-top: 0.35em;
}
#articleFeedbackv5-sort .articleFeedbackv5-sort-label {
	display: inline-block;
	margin: 0 5px 0 0;
	font-weight: bold;
}
#articleFeedbackv5-sort-select {
	margin-top: -3px;
}

/** Show Feedback Results */
#articleFeedbackv5-show-feedback {
	min-height: 250px;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
}

/** Show More **/
a#articleFeedbackv5-show-more {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #d2e5f7;
	font-size: 1.2em;
	cursor: pointer;
}

/** Back to central page **/
.articleFeedbackv5-feedback-central-goback {
	font-size: 1.2em;
	margin-top: 10px;
	clear: both;
}

/** Permalink styles **/
.articleFeedbackv5-feedback-permalink-goback {
	font-size: 1.2em;
	margin-top: 10px;
	clear: both;
}


