.articleFeedbackv5-table {
	border: solid 1px #cccccc;
	margin-bottom: 2em;
}

.articleFeedbackv5-table caption {
	text-align: left;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

.articleFeedbackv5-table th {
	padding-left: 0.75em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: left;
}

.articleFeedbackv5-table td {
	padding: 0.25em 0.75em;
	border-top: solid 1px #eeeeee;
}

.articleFeedbackv5-table td.articleFeedbackv5-table-column-page,
.articleFeedbackv5-table td.articleFeedbackv5-table-column-category {
	text-align: left;
}

.articleFeedbackv5-table td.articleFeedbackv5-table-column-rating,
.articleFeedbackv5-table td.articleFeedbackv5-table-column-average {
	text-align: right;
}

/**
 * Per ArticleFeedback meeting of 2011-05-06,
 * disable colors for now. We may re-enable them
 * later if found useful.
 */
/*
.articleFeedbackv5-table-column-score-0,
.articleFeedbackv5-table-column-score-1 {
	background-color: #ffcccc;
}


.articleFeedbackv5-table-column-score-2,
.articleFeedbackv5-table-column-bad {
	background-color: #ffcc99;
}

.articleFeedbackv5-table-column-score-3 {
	background-color: #ffff99;
}

.articleFeedbackv5-table-column-score-4,
.articleFeedbackv5-table-column-good {
	background-color: #99ff99;
}
.articleFeedbackv5-table-column-score-5 {
	background-color: #55ff55;
}
*/

.articleFeedbackv5-table-column-bad {
	background-color: #ffcc99;
}

.articleFeedbackv5-table-column-good {
	background-color: #99ff99;
}
