/*
 * Styles for Article Feedback Extension
 */
#articleFeedbackv5-dialog {
	padding: 2em;
	padding-top: 1em;
}

.articleFeedbackv5-survey-disclaimer {
	font-weight: normal; /* Override bold */
	font-style: italic;
}

.articleFeedbackv5-survey-disclaimer a {
	color: #0645AD; /* Override blackish color set by JUI */
}
